<div class="collection">
    {{#each data}}
        <a target="_blank"
           href="{{this.url}}"
           class="collection-item avatar indigo-text">
            {{#if this.icon}}
                <img src="{{this.icon}}"
                     class="circle">
            {{else}}
                <i class="circle material-icons purple lighten-1">
                    exit_to_app
                </i>
            {{/if}}
            <span class="title">{{this.title}}</span>
            <p>{{this.description}}</p>
        </a>
    {{/each}}
</div>